<footer th:fragment="footer">
  <div class="rounded-social-buttons" id = "foot">
	                <a class="social-button linkedin" href="https://www.linkedin.com/in/syed-sohail-ahmed/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a class="social-button github" href="https://github.com/SohailArsenal10/" target="_blank"><i class="fab fa-github"></i></a>
                    <a class="social-button envelope" href="https://www.gmail.com/" target="_blank" title="syedsohail2499@gmail.com"><i class="fas fa-envelope"></i></a>
                    					
  </div>
  <nav class="footer-nav" role="navigation">
      <p>Made with ❤ by Syed Sohail Ahmed</p>
    </nav>
</footer>