<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<html>-->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>Contact Page</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/contact1.css}" />
		<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
		  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  	  <script type="text/javascript" th:src="@{/contact1.js}"></script>
	  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>

    <!--<link href="contact.css" rel="stylesheet" />
  	<script src="contact.js"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->
</head>
<section class="section">
            <div class="star-rating-bx">
                <h2 class="text-center">Feedback</h2>
                <div class="star-widget">
                    <form method="GET" name="feedback" action="#" onsubmit="feedBack(); return false">
                    <input type="radio" name="star" id="rate-5" value="5">
                    <label for="rate-5" class="fas fa-star"></label>
                    <input type="radio" name="star" id="rate-4" value="4">
                    <label for="rate-4" class="fas fa-star"></label>
                    <input type="radio" name="star" id="rate-3" value="3">
                    <label for="rate-3" class="fas fa-star"></label>
                    <input type="radio" name="star" id="rate-2" value="2">
                    <label for="rate-2" class="fas fa-star"></label>
                    <input type="radio" name="star" id="rate-1" value="1">
                    <i class='fas fa-star'><label for="rate-1" class="fas fa-star"></label></i>
                    <p id="error-rating"></p>
                    <p class="rating-desc"></p>
                    <div class="textarea">
                        <textarea cols="30" id="comment" placeholder="Describe your comment"></textarea>
                        <p id="error-comment"></p>
                    </div>
                    <div class="btn">
                        <button type="submit">Submit</button>
                    </div>
                        <div class="modal fade" id="simpleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLabel">Thank you</h3>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onClick="reload"></button>
                                </div>
                                <div class="modal-body">
                                    <p>We appreciate you sending us your feedback.</p>
                                    <p><strong>You're select </strong>⭐ <span id="star_count"></span></p>
                                    <p><strong>Your comment </strong><span id="comment_text"></span></p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
		</html>