<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>File Upload</title>
<style>
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

h1 {
    color: #308d46;
}

.uploadButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.row {
    margin: 10px 0;
}
</style>
</head>
<body>
    <h1>Folder Comparison Tool</h1>
    <form method="post"
        enctype="multipart/form-data">
        
		<h3>Upload using Multiple File Selection</h3>
		<div class="row">
            <input type="file" name="files1" multiple required>
        </div>

        <h3>Upload using Folder Selection</h3>
        <div class="row">
            <input type="file" name="files2" webkitdirectory multiple required>
        </div>
		
		<div class="row">
			<label for="cars">Select folder comparison order:</label>

			<select name="folder" id="folder">
			  <option value="folder1">Folder1 compared with Folder2</option>
			  <option value="folder2">Folder2 compared with Folder1</option>
			</select>
		</div>        

		<div class="row">
		   <button class="uploadButton" type="submit">Upload File</button>
		</div>
	</form>

</body>
</html>